extends ../layouts/default


block intro 
    .container
        .row
            .col-sm-12
                h1 Hey hva så er vi der

block content
    .container
        .row
            .col-sm-6.col-sm-offset-3
                p bliver det her centreret? - A, semi :PP 

