extends ../layouts/default

block intro
    .container
        h1= data.page.title

block content
    .container: .row
        .col-sm-8.col-md-9
            p!= data.page.content.brief
            p!= data.page.content.extended
