$colorRed : #d42426;
$colorGreen : #0a7a3c;

#header {
	margin-top: 30px;
}
.container{
	background-color: $colorRed;
}
.container-fluid{
	background-color: $colorGreen;
}

ul.nav.navbar-nav.navbar-left li.active a {
	background-color: $colorRed;
	position: relative;
	&:before{
		position: absolute;
		width: 30px;
		height: 30px;
		content: '';
		background-image: url(/images/jul.png);
		background-size: cover;
		top: -20px;
		left: 50%;
		transform: translateX(-50%);

	}
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li.active > a {
    color: $colorGreen;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
.gallery-container{
	padding-top: 10px;
}

.gallery{
	width: calc(20% - 10px);
	float:left;
	margin-right: 10px;
}
.text-container{
	clear:both;
	padding-top: 40px;
}